p {
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-width: 100vh;
}

.header, .box1 {
    padding: 0px 400px;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex: 1;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.box1 {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 50px;
}

.infobox, .placeholder {
    height: 300px;
    width: 800px;
    gap: 20px;
}

.infobox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
}

.infotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    align-items: stretch;
    flex: 0 1 auto;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    flex: 0 1 auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 8px 40px;
    font-size: 18px;
    flex: 0 1 auto;
}

.placeholder {
    flex: 1 1 0;
}

.box2 {
    display:flex;
    flex-direction: column;
}

.subheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px
}

.cardsection {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding: 0px 500px 150px 500px;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imgdiv {
    display: flex;
    flex: 1;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.textdiv {
    flex: 1;
}

.textdiv p {
    text-align: center;
}

.box3 {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 550px;
    gap: 20px;
}

.box3 div p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#thor {
    align-self: flex-end;
}

#thor p {
    font-size: 24px;
    font-style: normal;
    color: #1F2937;
    font-weight: bolder;
}

.box4 {
    display:flex;
    padding: 100px 300px;
}

.bluebox {
    display: flex;
    flex: 1;
    background-color: #3882F6;
    padding: 60px 140px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.bluetext {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    color: #F9FAF8;
    font-weight: bolder;
    gap: 5px;
}

#subtext {
    font-weight: lighter;
    font-size: 20px;
    color: #E5E7EB;
}

.bluebutton {
    border: solid #F9FAF8;
    border-radius: 8px;
}

.footer {
    display:flex;
}
