img {
    height: 0;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100vh;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}
.box1 {
    display:flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.infotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.infobox {
    display: flex;
    flex-direction: column;
}

.placeholder {
    flex: 1;
    min-width: 0;
}

.box2 {
    display:flex;
}

.box3 {
    display:flex;
}

.box4 {
    display:flex;
}

.footer {
    display:flex;
}
